@model Ogretmen

@{
    ViewData["Title"] = "Ogretmen Guncelleme";
}

<h2>Ogretmen Guncelleme</h2>

<hr>

<div class="row">
    <div class="col-8">
        <form asp-controller="Ogretmen" asp-action="Create" method="post">
            <input type="hidden" asp-for="OgretmenId">
        
            <div class="mb-3">
                <label asp-for="Ad" class="form-label">Ogretmen Adi</label>
        
                <input asp-for="Ad" class="form-control">
            </div>
        
            <div class="mb-3">
                <label asp-for="Soyad" class="form-label">Ogretmen Soyadi</label>
        
                <input asp-for="Soyad" class="form-control">
            </div>
        
            <div class="mb-3">
                <label asp-for="Eposta" class="form-label">E-posta</label>
        
                <input asp-for="Eposta" class="form-control">
            </div>
        
            <div class="mb-3">
                <label asp-for="Telefon" class="form-label">Telefon</label>
        
                <input asp-for="Telefon" class="form-control">
            </div>
        
            <button type="submit" class="btn btn-secondary">Kaydet</button>
        </form>
    </div>

    <div class="col-4">
        <h4>Kurslar</h4>

        <hr>

        <ul>
            @foreach (var item in @Model.Kurslar) {
                <li>@item.Ogretmen.Kurslar</li>
            }
        </ul>
    </div>
</div>